<mat-tab-group (selectedTabChange)="onTabChanged($event)">
  <!-- Data Collection Tab -->
  <mat-tab label="Data Collection">
    <div style="padding: 20px;">
      <p>Choose an experiment to start gathering data.</p>

      <div style="display: flex; align-items: center;">
        <!-- Experiment Selection Form -->
        <mat-form-field appearance="fill">
          <mat-label>Choose an experiment</mat-label>
          <mat-select [(value)]="selectedExperimentId" (selectionChange)="onExperimentSelected($event.value)">
            <!-- List existing experiments as options -->
            <mat-option *ngFor="let experiment of experiments" [value]="experiment.id">
              {{ experiment.name }}
            </mat-option>
            <!-- Special option to add a new experiment -->
            <mat-option (click)="addNewExperiment()">+ New Experiment</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Experiment Settings Menu -->
        <button *ngIf="selectedExperimentId" mat-icon-button [matMenuTriggerFor]="menu">
          <span class="material-symbols-outlined">
            settings
          </span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="exportExperiment()">
            <span>Export</span>
          </button>
          <button mat-menu-item (click)="deleteExperiment()">
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
    </div>

    <!-- Data Entry Capture -->
    <div *ngIf="selectedExperimentId">
      
      <div style="display: flex; align-items: center; padding: 20px">
      <button mat-raised-button color="primary" (click)="toggleCapture()" style="margin-right: 20px;">
        {{ captureActive ? 'Stop Capture' : 'Capture Data' }}
      </button>

      <mat-slider
        min="0"
        max="60"
        step="1"
        showTickMarks
        discrete
        [displayWith]="formatLabel">
        <input matSliderThumb [(ngModel)]="captureInterval">
      </mat-slider>
      <span>Interval: {{ captureInterval }} seconds</span>
      </div>

      <!-- Grid List -->
      <mat-grid-list cols="10" rowHeight="1:1" gutterSize="5px">
        <mat-grid-tile *ngFor="let entry of selectedExperimentDataEntries">
          <div class="data-entry-thumbnail" (click)="openModal(entry)">
            <img [src]="'/static/images/' + entry.image_filename" [alt]="entry.image_filename" style="width: 100%; height: auto;">
          </div>
        </mat-grid-tile>
      </mat-grid-list>

    </div>
  </mat-tab>

  <!-- Sensor View Graph Tab -->
  <mat-tab label="Live Sensor View">
    <div id="sensorGraphs">
      <div id="temperatureGraph" style="width:100%;height:500px;"></div>
      <div id="humidityGraph" style="width:100%;height:500px;"></div>
    </div>
  </mat-tab>
</mat-tab-group>
